@font-face {
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    margin: 0 10em;
}

nav {
    height: 10em;
    width: 100%;
    background-color: white;
}

.nav {
    padding-top: 2.6em;
}

.logo {
    width: 7em;
}

.nav-link {
    text-decoration: none;
    color: black;
    float: right;
    margin: 1.8em 2em 0;
}

#banner {
    background-color: #8A006F;
    width: 100%;
    height: 40em;
}

.banner-content {
    padding-top: 9em;
}

.banner-img {
    width: 50em;
    margin-top: 2em;
    margin-right: -10em;
    float: right;
}

.banner-content h1 {
    font-size: 50pt;
    margin: 0;
    color: white;
}

.banner-content p {
    font-size: 1rem;
    margin: 0 0 2em;
    color: white;
}

.btn {
    display: inline-block;
    color: #8A006F;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;

}

.mt-2 {
    margin-top: 2em;
}

.btn-purple {
    color: white;
    background-color: #8A006F;
}

.btn-white-border {
    /*background-color: white;*/
    color: white;
    border-color: white;
}

.btn {
    cursor: pointer;
}

#needs {
    margin-top: 8em;
    text-align: center;

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

.col-50 {
    width: 50%;
}

.card {
    /*float: left;*/
    width: 20em;
    margin: 0 2em;
}

#parallax {
    margin-top: 8em;
    background: linear-gradient(rgba(138, 0, 111, 0.3), rgba(138, 0, 111, 0.6)), url("Img/parallax.jpg") fixed center no-repeat;
    height: 300px;
    background-size: cover;
}

#parallax .container h3 {
    color: white;
    text-align: center;
    padding: 120px 120px 0;
}

#love {
    margin-top: 8em;
}

.love-text {
    float: right;
    width: 50%;
    padding-top: 4.3em;
}

h1 {
    color: #8A006F;
    font-size: 30pt;
}

.card-product-wrapper {
    width: 50%;
}

.product-card {
    float: left;
}

.product-image {
    width: 15em;
}

#about {
    margin-top: 8em;
}

.about-text {
    float: right;
    width: 50%;
    margin-top: -0.5em;
}

.img-about-wrapper {
    width: 50%;
}

.about-img {
    width: 35em;
    box-shadow: -0.8em 0.8em #8A006F;
}

#guide {
    margin-top: 8em;
    text-align: center;
    background-color: #f6f6f6;
    padding: 2em 0 8em;
}

.guide-card {
    width: 15em;
    /*border: #8A006F solid 1px;*/
    background-color: white;
    box-shadow: -10px 10px #8A006F;
    padding: 2em;
    position: relative;
    left: 15%;
    border-radius: 15px;
}
h3 {
    color: #8A006F;
}

.guide-row {
    display: block;
    margin: auto;
    width: 100%;
}

footer {
    background-color: #8A006F;
    color: white;
    height: 100px;
    padding: 5em;
}

.right {
    width: 20vw;
}